
BX-Book-Ratings.csv
BX-Books.csv
BX-Users.csv


.idea/
datasets/
scripts/
tests/

engine_ec.ipynb
engine.ipynb


pipeline.py
db.sqlite3


#Virtual environments

venv
penv
environments
env
finalbooks/



.DS_Store

accounts/



Pipfile
Pipfile.lock
README.md

workspace.xml

# for secret key
.env

# for data files

data/

db.sqlite3