
BX-Book-Ratings.csv
BX-Books.csv
BX-Users.csv
engine.py

.idea/
datasets/
scripts/
tests/

engine_ec.ipynb
engine.ipynb


pipeline.py
test.py
test2.py

db.sqlite3

#Virtual environments

venv
penv
environments
env
finalbooks/



.DS_Store

accounts/
BookRecommender/
static/
staticfiles/
manage.py
recommender/__pycache__/
recommender/migrations/
recommender/__init__.py
recommender/admin.py
recommender/apps.py
recommender/engine.py
recommender/forms.py
recommender/tests.py

templates/accounts/
templates/recommender/

Pipfile
Pipfile.lock
Procfile
README.md
requirements.txt
runtime.txt

workspace.xml

# for secret key
.env

# for data files

data/

db.sqlite3

datasets/
scripts/
