
BX-Book-Ratings.csv
BX-Books.csv
BX-Users.csv
engine.py

.idea/
datasets/
scripts/
tests/

engine_ec.ipynb

pipeline.py
test.py
test2.py


#Virtual environments

venv
penv
environments
env



.idea
workspace.xml

# for secret key
.env

# for data files

data/

db.sqlite3

datasets/
scripts/
