{% extends "_base.html" %}

{% load static %}

{% block title %}
Welcome To Your Book Recommender!
{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1>Welcome To Your Book Recommender!</h1>
  <p class="lead">In the spirit of sharing amongst family members, and not losing old pieces of paper, here is a lovely place for everyone to keep your treasured recipes, and if they're not too secret share them too!</p>
  <img src="BookRecommender/static/images/Under.jpg" alt="Developers Hard At Work." style="width:200px;height:240px;">

</div>
{% endblock content %}
