{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<center>

<body>
        <div>
            <h1>About Our Book Recommender</h1>
            <h4><br>
                <div>
                    <img src="https://media.istockphoto.com/photos/open-book-close-up-at-the-library-picture-id1302676874?b=1&k=20&m=1302676874&s=170667a&w=0&h=MCUK_eGWI-FkGrUgv1sPW_5D3gZa0sMTHhRCd_wqUxQ=" class="img-fluid" alt="BetterMe" width=750/>
                </div>

                <br><br>
                Our goal was to build a collaborative-based filtering recommendation system. Specifically we have designed a book recommendation system that will identify similiar user behaviors and make recommendations based on what similiar users have chosen.<br>
                <br>
                <br>
                Get started with your book recommendations now.
            </h4>
    </div>
 </body>
</center>
{% endblock content %}