{% extends "_base.html" %}
{% load static %}

{% block title %}
Welcome To Your Book Recommender!
{% endblock title %}

{% block content %}


<html>
  <body background="https://images.unsplash.com/photo-1519682337058-a94d519337bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
   <body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1>Welcome to your Book Recommender!</h1>
      <p class="lead">Come back soon to find your next favorite book!</p>
    </div>
  </body>
</html>
{% endblock content %}